requests
aiogram
langchain
openai
fastapi
pydantic
pydantic-settings
pytest
chardet==5.2.0
pypdf
python-docx
markdown
striprtf
httpx
scikit-learn
faiss-gpu # check the environment for compatibility
mlfow
uvicorn # or uvicorn[standard]????
sentence-transformers